[submodule "vim/bundle/YouCompleteMe"]
	path = vim/bundle/YouCompleteMe
	url = https://github.com/Valloric/YouCompleteMe
[submodule "vim/bundle/Pydiction"]
	path = vim/bundle/Pydiction
	url = https://github.com/vim-scripts/Pydiction.git
